<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="https://www.arcgis.com/sharing/rest/community/groups" username="demoUser" password="demoPassword"
                   matchAll="true"/>
        <serverUrl url="https://mjagtportal.maps.arcgis.com" username="demoUser" password="demoPassword"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
